
#container {
    width: 100px;
    background: black;
    padding: 20px;
    border-radius: 20px;
}

.light {
    width: 60px;
    height: 60px;
    margin: 10px auto;
    border-radius: 50%;
    opacity: 0.3;
    transition: 0.3s;
}

.red { background: red; }
.yellow { background: yellow; }
.green { background: green; }

.selected {
    opacity: 1;
    box-shadow: 0 0 20px white;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;     
    background-color: #222;  
}

